@model ExamProject.Models.Voiture

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


    <h4>Voiture</h4>

    <form method="post" class="ui large form" asp-action="confirmAllouer">
        <div class="field">
            <div class="ui calendar">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="date" placeholder="starting date" name="startingDate">
                </div>
            </div>
        </div>

        
                    <input type="hidden" name="carid" value="@Model.Id">
            
        <div class="field">
            <div class="ui calendar">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="date" placeholder="ending dte" name="endingDate">
                </div>
            </div>
        </div>

        <div class="field">
            <div class="ui calendar" id="example1">
                <div class="ui input left icon">

                    <input type="submit" value="allouer">
                </div>
            </div>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
