@model ExamProject.Models.Voiture

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrixParJour" class="control-label"></label>
                <input asp-for="PrixParJour" class="form-control" />
                <span asp-validation-for="PrixParJour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annee" class="control-label"></label>
                <input asp-for="Annee" class="form-control" />
                <span asp-validation-for="Annee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometrage" class="control-label"></label>
                <input asp-for="Kilometrage" class="form-control" />
                <span asp-validation-for="Kilometrage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarqueID" class="control-label"></label>
                <select asp-for="MarqueID" class ="form-control" asp-items="ViewBag.MarqueID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModelID" class="control-label"></label>
                <select asp-for="ModelID" class ="form-control" asp-items="ViewBag.ModelID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProprietaireId" class="control-label"></label>
                <select asp-for="ProprietaireId" class ="form-control" asp-items="ViewBag.ProprietaireId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Couleur" class="control-label"></label>
                <input asp-for="Couleur" class="form-control" />
                <span asp-validation-for="Couleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Immatriculation" class="control-label"></label>
                <input asp-for="Immatriculation" class="form-control" />
                <span asp-validation-for="Immatriculation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
