/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #efefef;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.margin {
    margin: 5px;
}

.ui.grid > .column:not(.row) {
    padding-top: 0;
}

.ui.items > .item > .image > img {
    display: block;
    width: 100%;
    border-radius: 0.125rem;
    border: none;
    height: 509px;
}

.ui.items > .item > .image:not(.ui) {
    width: 550px;
}

.ui.items > .item > .content > .header:not(.ui) {
    margin-top: 1.2em;
    padding: 0.5em;
}

.whiteBG {
    background: white;
    padding: 0.7em;
    margin: 0.7em;
    border-left: 5px solid teal;
    box-shadow: 0px 0px 8px -1px #ccc;
}
