
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="ui item" style="background:white;border:1px solid #ccc;margin:1.5em;">

    <div class="content">
        <div id="chart_div"></div>
        
    </div>
</div>

<div class="ui item" style="background:white;border:1px solid #ccc;margin:1.5em;">

<div class="content">
    <div id="chartvoiture"></div>
</div>
</div>

<script type="text/javascript">


    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({

            url: 'dashboard/marqueByNumber',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                marqueChart(data);
                return false;
            }
        });
        return false;
    }

    function marqueChart(data) {
        var dataArray = [
            ['Marque', 'nombre des voitures']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.nomMarque, item.count]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'les marques les plus presentes dans la plateforme',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'Marque',
                minValue: 0
            },
            vAxis: {
                title: ' nombre de voiture'
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        return false;
    }


    
</script>  

<script>
    /// voiture chart

     google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadDatapie);

    function LoadDatapie() {
        $.ajax({

            url: 'dashboard/carsByDemand',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                voitureChart(data);
                return false;
            }
        });
        return false;
    }

    function voitureChart(data) {
        var dataArray = [
            ['la voiture', 'nombre de fois']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.nomVoiture, item.countLocation]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'les voitures les plus demandées',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'nom voiture',
                minValue: 0
            },
            vAxis: {
                title: ' nombre de fois'
            }
        };
        var chart = new google.visualization.PieChart(document.getElementById('chartvoiture'));

        chart.draw(data, options);
        return false;
    }
</script>